// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

p:empty{
	display: none;
}
@font-face {
    font-family: 'SWISS721BTBOLD_1';
    src: url('../fonts/SWISS721BTBOLD_1.eot');
    src: url('../fonts/SWISS721BTBOLD_1.eot') format('embedded-opentype'),
         url('../fonts/SWISS721BTBOLD_1.woff2') format('woff2'),
         url('../fonts/SWISS721BTBOLD_1.woff') format('woff'),
         url('../fonts/SWISS721BTBOLD_1.ttf') format('truetype'),
         url('../fonts/SWISS721BTBOLD_1.svg#SWISS721BTBOLD_1') format('svg');
}

@font-face {
    font-family: 'SWISS721BTBLACK_2';
    src: url('../fonts/SWISS721BTBLACK_2.eot');
    src: url('../fonts/SWISS721BTBLACK_2.eot') format('embedded-opentype'),
         url('../fonts/SWISS721BTBLACK_2.woff2') format('woff2'),
         url('../fonts/SWISS721BTBLACK_2.woff') format('woff'),
         url('../fonts/SWISS721BTBLACK_2.ttf') format('truetype'),
         url('../fonts/SWISS721BTBLACK_2.svg#SWISS721BTBLACK_2') format('svg');
}

.rounded_corners(@radius:0px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

 .box_sizing(@sizing:border-box) {
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing; 
}  
.margin_none(@margin-none: 0px) {
margin: @margin-none;
}
.padding_none(@padding-none: 0px) {
padding: @padding-none;
}

.border_50_radius(@radius-50: 50%) {
border-radius: @radius-50;
-moz-border-radius: @radius-50;
-webkit-border-radius: @radius-50;
}


*{
   .box_sizing;
}

@black :#000000;
@orange:#f28531;
@srch:#e6e6e6;
@color-white:#fff;
@open:'Open Sans Condensed', sans-serif;
@roboto:'Roboto', sans-serif;
@rel:relative;
@abs:absolute;
@footer-bg:#231f20;
@footer-color:#8f8f8f;
.flex-direction-nav .flex-next{right:0px!important;}
.flex-direction-nav .flex-prev{left:0px!important;}

/*.nav-sections{background:transparent; padding-top:0px; margin-top: 21px; padding-bottom:0px; display: inline-block;}
.navigation{background:transparent;} 


.menu > ul > li:hover{background:transparent;  }
.menu > ul > li:hover a{color:@orange;}
.menu > ul > li{margin: 0px 20px}
.menu > ul > li a{font-family:@roboto; font-size:24px; color:@black; position:@rel; padding: 0px 0px 0px 0px;}
.menu > ul > li a:after{ 
 content: "\f107";
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;  
font-size: 34px;
vertical-align: middle;
margin-left: 5px;
line-height: 1;
}  */
   


.minicart-wrapper{
	margin-top: 0px; 
	.action{
		&.showcart{
			font-size: 13px;
			font-weight: 300;
			line-height: 1;
			color: @black;
			&:before{
				display:none;
			}
			&:after{
				content:" ";
				background:url(../images/shopping-cart.png)no-repeat;
				width:18px;
				height:16px; 
				display: inline-block;
				vertical-align: middle;
				margin-left: 7px;
			}

			&.active{
				&:after{
					content:" ";
				}
				&:before{
					display: none;
				}
			}

			.minicart-label{
				display: inline-block;
				vertical-align: middle;
				line-height: 16px;
			}
		}
	}
}

 #search_mini_form{
 	.field{
 		&.search{
 			.control{
 				input[type="text"]{
 					width:100%; 
 					height:30px; 
 					border-radius:20px; 
 					-webkit-border-radius:20px; 
                    -moz-border-radius:20px; 
                    background:@srch;
                    padding-left: 20px;
                    border: none;
 				}
 			}
 		}
 	}
 }
.home-page-content-section{
    font-size: 0;
    line-height: 0;
    .col-3{
        display: inline-block;
        max-width: 31.5%;
        width: 100%; 
        font-size: 16px;
        line-height: 1;
        vertical-align: top;

        &.middle{
            margin: 0px 2.75%;
        }

        h3{
            font-family: 'SWISS721BTBOLD_1';
            font-weight: normal;
            font-size: 24px;
            line-height: 1;
            color: @black;
        }
        p{
            line-height: 1.6;
            color: @black;
            font-weight: 300;
        }
    }
}
.flex-viewport{
	.slides{
		li{
			position: relative;
			.flex-caption{
				position: absolute;
				left: 50%;
				z-index: 9;
				color: @color-white;
				font-size: 16px;
				top: 50%;
				-ms-transform: translate(-50%, -50%);
			    -webkit-transform: translate(-50%, -50%);
			    transform: translate(-50%, -50%);
			    text-align: center;
				h3{
		            font-size: 36px;
		            line-height: 1;
		            color: @color-white;
		            margin: 0;
		            font-weight: 300;
		            margin-bottom: 10px;
    			}
    			p{
		            line-height: 1.6;
		            color: @color-white;
		            font-weight: 300;
		            margin: 0;
		            font-size: 16px;
    			}
			}
		}
	}
}

.nav-sections{
	display: inline-block;
	margin-top: 4px;
	.navigation{
		position: static;

	}
	.menu{
		> ul{
			position: static;
			line-height: 1;
		} 
	}
}

.menu > ul > li:hover{background:transparent;  }
.menu > ul > li:hover > a{color:@orange;}
.menu > ul > li{margin: 0px 18px;}
.menu > ul > li > a{font-family:@roboto; font-size:14px; color:#424242; position:@rel; padding: 0px 0px 0px 0px; line-height: 1;padding-bottom: 0px; font-weight: 400; line-height: 17px;}

/*.menu > ul > li.menu-dropdown-icon > a:after{ 
 content: "\f107";
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;  
font-size: 34px;
vertical-align: middle;
margin-left: 5px;
line-height: 16px;
}*/

.menu > ul > li > ul{
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
	padding-bottom: 0;
}

 .flex-control-nav{ bottom: 20px!important;} 
.flex-control-paging li a{
	background: #989994!important;
	width: 22px!important;
	height: 4px!important;
	border-radius: 0!important;
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	box-shadow: 0 0 0px rgba(0,0,0,0)!important;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,0)!important;
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,0)!important;
}
.flex-control-paging li a.flex-active{background: @color-white!important}

.menu > ul > li > ul > li{width: 16.666%; padding-bottom: 10px;}
.menu > ul > li > ul > li > a{
	font-size: 18px;
	border: none;
	text-align: left;
	font-family: 'SWISS721BTBOLD_1';
	color: @color-white;
	font-weight: normal;
}

.menu > ul > li > ul > li > ul > li{
	padding: 0;
}
.menu > ul > li > ul > li > ul > li a{
	color: @color-white;
	font-weight: 300;
	font-size: 16px;
	line-height: 1;
}
.menu > ul > li > ul > li > ul > li a:hover{
	color: @orange
}

.menu > ul > li > ul.normal-sub{
 width:100%; 
left:0px;
  }
 

@media (max-width: 860px) and (min-width: 481px){
	.block{
		&.newsletter{
			max-width: 35%;
			width: 100%;
			float: left;
		}
	}
	.footer-social-meida{
		max-width: 64%;
		text-align: right;
		p{
			strong{
				display: block;
			}
		}
	}

	
}

@media (max-width: 767px){
	.nav-open{
		.nav-sections{
			background: @color-white;
			margin-top: 0
		}
	}
	.nav-sections-item-title{
		text-transform: uppercase;
		font-size: 24px;
		color: @black;
		line-height:1;
		a{
			color: @black;
		}
	}
	.home-page-content-section{
		.col-3{
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
			&.middle{
				margin-left: 0; 
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	.action.subscribe {
            border-radius: 20px!important;
            background: @orange;
            border: none;
            width: 100%;
            display: block;
            margin-top: 5px;
            
            &:hover{ 
                background:@black;
                border: none;
            }
        }

        .footer-social-meida{
        	ul{
        		li{
        			a{
        				width: 36px;
        				height: 36px;
        				line-height: 34px;
        				font-size: 20px;
        			}
        		}
        	}
        }

		.block-search .label {
			margin-top: 0px;
			margin-right: 10px;
		}
}

@media (max-width: 480px){
	.footer-social-meida{
		padding-top: 20px;
		width: 100%;
		max-width: 100%;
	}
 
		.footer-social-meida{
			p{
				font-size: 14px;
			}
		}
		.footer-bottom-links{
			.footer-links{
				 ul{
				 	li{
				 		font-size: 14px;


				 	}
				 }
			}
		}
		.flex-viewport .slides li .flex-caption{
			display: none;
		} 
}

@media (min-width: 1024px) and (max-width: 1150px){
.feature-ctg-section ul li{vertical-align: text-top; min-height: 135px;}
.feature-ctg-section ul li a{min-height: 135px;}
} 

@media (min-width: 768px) and (max-width: 1023px){
	.block-search{
		max-width: 180px;
		width:180px;
	}
	.menu > ul > li > a{
		font-size: 16px;
	}
	.menu > ul > li{margin: 0px 10px}
	.menu > ul > li.menu-dropdown-icon > a:after{
		font-size: 24px;
		line-height: 12px;
	}
	.menu > ul > li > ul > li > a{font-size: 14px;}

/***************INTERACTIVE-PAGE***********/

.cms-interactive .interactive-content .inner-half{
	text-align: justify;
}

.block.newsletter{
	max-width: 43%;
    float: right;
    margin: 0px 0 0;
    padding-top: 38px;
}

.footer-top .copyright{
	float: left;
}
.block.newsletter .actions{
	display: inline-block;
    margin: 0 0 0 15px;
    width: 42%;
}
.footer-top-links ul li{
	padding-right: 35px;
}
.block.newsletter .field{
	max-width: 52%;

}
.block-search{
	width: 96px; 
	margin-left: 0px;
}
.header-phone-number{
	margin-right: 42px;
}
/*************** PLATINUM PAGE ***********/  
 
.category-view .category-description{max-width:100%;}  
.category-view .category-description p {text-align: justify; font-size: 15px; line-height: 25px;}
.feature-ctg-section ul li{vertical-align: text-top;min-height: 135px;}
.feature-ctg-section ul li a{min-height: 135px;}
.tab button.tablinks.active , .tab button.tablinks{font-size: 16px;}
.left-right-both .right-column ul li a img{width:auto!important; height:auto!important;}
} 

.home-about-section{
	font-size: 0;  
	margin-top: 64px;
	.about-img{
		display: inline-block;
		width: 100%;
		max-width: 57.3%;
		vertical-align: middle;
		line-height: 0;

		img{
			width: 100%;
			height: auto;
		}
	}
	.about-content{
		display: inline-block;
		width: 100%;
		max-width: 42.7%;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1.6;
		padding-left: 30px;
		h3{
			font-size: 36px;
			line-height: 1;
			color: @black;
			font-weight: 300;
			
		}

		p{
			font-size: 16px;
			line-height: 1.5;
			color: @black;
			font-weight: 300;
			margin-bottom: 30px;
		}
	}
}


.home-latest-innovations{
	font-size: 0;
	padding: 62px 0px 30px;

	h2{
		text-align: center;
		font-size: 36px;
		line-height: 1;
		color: @black;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 50px;

	}
	.latest-innovations-img{
		display: inline-block;
		width: 100%;
		max-width: 65.8%;
		vertical-align: middle;
		line-height: 0;

		img{
			width: 100%;
			height: auto;
		}
	}
	.latest-innovations-content{
		display: inline-block;
		width: 100%;
		max-width: 34.2%;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1.6;
		padding-right: 30px;
		text-align: right;
		h3{
			font-size: 26px;
			line-height: 1.5;
			color: @black;
			font-weight: 400;
			
		}

		p{
			font-size: 16px;
			line-height: 1.5;
			color: @black;
			font-weight: 300;
			margin-bottom: 30px;
		}
	}
}

.readmore{
	font-weight: 400;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	color: @black!important;
	text-decoration: none;
	padding: 8px 16px;
	border: solid 1px @black; 
	line-height: 1;
	display: inline-block;
	

	&:hover{
		background:@orange;
		border-color:@orange;
		color: @color-white!important;
		text-decoration: none;
	}

}

.get-technical-section{
	background: #f7f7f7;
	text-align: center;
	padding:68px 0px; 

	ul{
		list-style: none;
		.margin_none;
		.padding_none;
		font-size: 0;
		li{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			color: #2bb5fe;
			line-height: 1;
			padding: 0px 20px;
			margin: 0;
			border-right: solid 1px @black;  
			img{
				display: inline-block;
				vertical-align: middle;
			}

			&:last-child{
				border: none;
			}
		}
	}

	h2{
		text-align: center;
		font-size: 36px;
		line-height: 1;
		color: @black;
		font-weight: 300;
		margin: 0;
		margin-bottom: 38px;

	}
}

.magestore-bannerslide-flex-slider{
	clear: both;
	margin-bottom: 0!important;
}


.home-category-section{
	margin: 0px -15px;
	font-size: 0;
	padding-top: 76px;
	h2{
		text-align: center;
		font-size: 36px;
		line-height: 1;
		color: @black;
		font-weight: 300;
		margin: 0px 0px 19px;

	}
	.ctg-list{
		display: inline-block;
		width: 33.33%;
		padding:15px;
		font-size: 14px;
		line-height: 0;
		font-weight: 300;
		vertical-align: top;


		h3{
			padding: 16px 20px;
			margin: 0;
			background: #222222;
			font-size: 14px;
			line-height: 1;
			font-weight: 300;
			a{
				text-decoration: none;
				color: @color-white;
			}
			&:hover{
				background: @orange;

			}
		}
	}
}

.home-blog-widget-recent{
	margin: 0px -15px;
	padding-top: 36px;
	h3{
		text-align: center;
		font-size: 36px;
		line-height: 1;
		color: @black;
		font-weight: 300;
		margin: 0px 0px 9px;

	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			float: left;
			width: 25%;
			padding:15px;
			background: transparent;
			font-weight: 300;
			font-size: 14px;
			line-height: 1.5;
			&:hover{
				box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
			}
			.post-title{
				padding:4px 0px 8px;
				.post-item-link{
					color: @black;
					text-decoration: none;
					font-weight: 500;
					padding: 0;
					margin: 0;
					font-size:18px;

					&:hover{
						color:@orange;
					}
				}
			}
			
			.post-read-more{
				float: none!important;
				color:@orange;
				text-decoration: none;
				font-weight: 400;
				&:hover{
					color:@black;
				}
			}
		}
	}
} 

	.flexslider{
		-webkit-border-radius: 0px!important;
	    -moz-border-radius: 0px!important;
	    -o-border-radius: 0px!important;
	    border-radius: 0px!important;
	    box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
	    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
	    -moz-box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
	    -o-box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
	}




.interactive-content{
	margin: 0px -15px;
	overflow: hidden;
	color: @black;
	font-size: 14px;
	font-weight: 300;

	.inner-half{
		float: left;
		width: 50%;
		padding: 15px;
	}

	h3{
		margin: 0;
		padding: 0;
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 20px;

	}

	p{
		font-weight: 300;
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 20px;
	}
}


@media (max-width: 767px){
	.staticlinks{
		display: none;
	}

	.header-phone-number{
		margin-right: 20px;
	}
	.header.content{
		padding-bottom: 10px;
	}

	.nav-toggle{
		top: 6px;
		&:before{
			line-height:1;
		}
	}

	
	


}

@media (max-width: 480px){
	.header-phone-number{
		display: none;
	}

	.block-search{
		margin-top: 0;
	}
	.nav-sections-item-title{
		font-size: 24px;
		line-height:1;
	}
}




/* category page */
.category-view{
	font-size: 0;
	margin-top: 30px;
}
.catalog-category-view{
	.page-title-wrapper{
		border-bottom: solid 2px @black;
	}
	.block.filter{
		display: none;
	} 
}
.category-view .category-description{
    display: inline-block;
    width: 100%;
    max-width: 49.4%;
    vertical-align: top;
    padding-left: 0;
	box-sizing:border-box;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2;
	color:@black;

	h4{
		font-weight: 700;
		font-size: 18px;
		color:@black;
	}
}
.category-view .category-image{
    display: inline-block;
    width: 100%;
    max-width: 48.7%;
    vertical-align: top;
    line-height: 0;
	box-sizing:border-box;	
	text-align:center;
	margin-left: 1.9%
}

.category-view .category-image img{
	display:inline-block;
}


.tab{
	font-size: 0;
	button{
		-webkit-border-top-left-radius: 15px;
		-webkit-border-top-right-radius: 15px;
		-moz-border-radius-topleft: 15px;
		-moz-border-radius-topright: 15px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background: #cccccc;
		border: 1px solid @color-white;
		border-bottom:2px solid @black;
		display: inline-block;
		vertical-align: top;
		font-size: 22px;
		line-height: 1.2;
		width: 20%;
		text-align: left;
		padding: 10px 20px;
		color:@black;

		span{
			font-weight: 300;
		}

		&.active{
			background: #af3b4e;
			color: @color-white;
			border-color:@color-white;
		}

		&.last-child{
			margin-right: 0;
		}
	}
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0px;
    border-top: none;
}


.feature-ctg-section{
	text-align: center;
	padding:20px 0px 0px; 
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
		li{
			display: inline-block;
			font-size: 16px;
			line-height: 1;
			width: 25%;
			border-right: solid 1px #ccc;

			&:last-child{
				border: none;
			}

			a{
				text-decoration: none;
				color: #808080;
				display: block;
				line-height: 30px;
				padding: 65px 10px 10px 10px;
				font-weight: 300;
				font-size: 12px;
				position: relative;

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 10px;
					left: 50%;
					height: 61px;
					width: 66px;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					transition: all 0.5s ease;
					margin-left: -33px;
					background-repeat: no-repeat;
					background-position: center center;
				}

				&:hover{
					background: #ebebeb;
				}
			}

			&.download-brochure{
				a{
					&:before{
						background-image: url(../images/download_brochure1.png);
					}
				}
			}
			&.bim-files{
				a{
					&:before{
						background-image: url(../images/bim.png);
					}
				}
			}
			&.view-photo{
				a{
					&:before{
						background-image: url(../images/photo_gallery_icon1.png) ;
					}
				}
			}
			&.read-recent{
				a{
					&:before{
						background-image: url(../images/case_study_icon1.png);
					}
				}
			}

		}
	}
}


@media (max-width: 767px)
{

.page-header{
  margin-bottom:10px;
}

.home-blog-widget-recent ul li{
width:100%;
}
.home-about-section{
   margin-top:20px;
 .about-img{
  max-width:100%;
 }
 .about-content{
 max-width:100%;
 padding-left:0px;
 
  p{margin-bottom:20px;}
 }

}

.home-category-section{ 
padding-top:15px;
}
.post-holder{margin-bottom:10px;} 
.get-technical-section{
 padding:10px 0px;
 h2{font-size:28px; margin-bottom:20px;}
 }

 .home-latest-innovations{
padding:10px 0px 10px;
h2{
 font-size:24px;
 text-align:left;
line-height:1.2;
margin-bottom:10px;
 }
.latest-innovations-content{
max-width:100%;
padding-right:0px;
text-align:left;
p{margin-bottom:12px;}
h3{
 font-size:22px;
}

}

.readmore{
margin-bottom:10px;

}

.latest-innovations-img
{
max-width:100%;
padding-top:0px;

 }
  }   
 
.get-technical-section{
  ul {
     li{
	   padding:0px 3px;  
	 }  
  }
} 
 
/***************INTERACTIVE-PAGE***********/

.cms-interactive .interactive-content .inner-half{
	width: 100%;
	text-align: justify;
}

}


@media (max-width:360px)
{
 .home-about-section{ 
    .about-content{
	   h3{font-size:28px;
	      margin:5px 0px;
	   } 
	
	p{margin-bottom:10px;
     }
	} 
 } 


}


@media (max-width: 480px)
{

.home-blog-widget-recent ul li{
width:100%;
}
.home-about-section{
   margin-top:20px;
 .about-img{
  max-width:100%;
 }
 .about-content{
 max-width:100%;
 padding-left:0px;
 
  p{margin-bottom:20px;}
 }

}

.home-category-section{ 
padding-top:15px;
}
.post-holder{margin-bottom:10px;} 
.get-technical-section{
 padding:10px 0px;
 h2{font-size:28px; margin-bottom:20px;}
 }

 .home-latest-innovations{
padding:10px 0px 10px;
h2{
 font-size:24px;
 text-align:left;
line-height:1.2;
margin-bottom:10px;
 }
.latest-innovations-content{
max-width:100%;
padding-right:0px;
text-align:left;
p{margin-bottom:12px;}
h3{
 font-size:22px;
}

}

.readmore{
margin-bottom:10px;

}

.latest-innovations-img
{
max-width:100%;
padding-top:0px;

 }
  }   
 
.get-technical-section{
  ul {
     li{
	   padding:0px 3px;  
	 }  
  }
} 

/***************INTERACTIVE-PAGE***********/

.cms-interactive .interactive-content .inner-half{
	width: 100%;
	text-align: justify;
}

.page-footer .footer-top .block.newsletter{
	width: 100%;
}
.block.newsletter .field{
	margin: 0 auto;
	display: block;
	float: none;
}
.block.newsletter .actions{
	display: block;
	margin: 14px auto 20px;
}
.footer-top-links{
	float: left;
	margin-bottom: 20px;
}
.footer-top-links ul li{
    margin: 0 0 15px !important;
}
.footer-top-links ul li:last-of-type{
	padding-right: 0px !important;
	margin-bottom: 0px !important;
}
.footer-top .footer-logo img {
    margin: 0 auto;
    display: block;
}
.interactive-content h1{
    font-size: 22px;
    text-shadow: 0 0 0px;
}
.interactive-content h3{
	font-size: 22px;
}
.interactive-content p{
	font-size: 15px;
	text-shadow: 0 0 0px;
}
.page-footer{
	padding: 34px 16px;
}
 
 /*************** PLATINUM PAGE ***********/
.category-view .category-description{max-width:100%;}  
.category-view .category-description p {text-align: justify; font-size: 15px; line-height: 25px;}
.category-view .category-image{max-width: 100%;margin-left: 0;}
.feature-ctg-section ul li{width:50%;}
.feature-ctg-section ul li:last-child {border: none;}
.feature-ctg-section ul li:nth-child(2){border: none;}
.tab button.tablinks.active , .tab button.tablinks{font-size: 15px; width: 50%;} 
.left-right-both .left-column{width:100%;}
.left-right-both .right-column ul{width: 100%;text-align: center; margin: 0 auto; float: none;}
.left-right-both .right-column ul li{width:auto;}
.left-right-both .right-column {float: none; width: 100%;}

}


@media (max-width:360px)
{
 .home-about-section{ 
    .about-content{
	   h3{font-size:28px;
	      margin:5px 0px;
	   } 
	
	p{margin-bottom:10px;
     }
	} 
 } 
 
 
.home-category-section{ 
padding-top:15px;
  .ctg-list{
  width:100%;
  }
 h2{
 font-size:28px;
 margin:5px 0px;
 padding: 0px 15px;
 }
  
} 
 
.home-latest-innovations{
padding:10px 0px 10px;
h2{
 font-size:24px;
 text-align:left;
line-height:1.2;
margin-bottom:10px;
 }
.latest-innovations-content{
max-width:100%;
padding-right:0px;
text-align:left;
p{margin-bottom:12px;}
h3{
 font-size:22px;
}

}

.readmore{
margin-bottom:10px;

}

.latest-innovations-img
{
max-width:100%;
padding-top:0px;

 }
}   
 
.post-holder{margin-bottom:10px;} 
.get-technical-section{
padding:10px 0px;

	}
 }


@media (max-width: 767px) and (min-width: 481px){
.block.newsletter{
	max-width: 243px;
    width: 100%;
    float: right;
    margin: 2px 0 0;
}

.footer-top .footer-logo{
	float: left;
	width: 30%;
}
.footer-top .copyright{
	float: left;
	width: 46%;
}
.block.newsletter .actions{
	display: block;
	margin:12px auto 0;
}
.footer-top-links ul li{
	padding-right: 35px;
}

/*************** PLATINUM PAGE ***********/

.category-view .category-description{max-width:100%;} 
.category-view .category-description p {text-align: justify; font-size: 15px; line-height: 25px;}
.category-view .category-image{max-width: 100%;margin-left: 0;}
.feature-ctg-section ul li {width: 25%;vertical-align: top;min-height: 135px;}
.tab button.tablinks.active , .tab button.tablinks{font-size: 15px; width: 50%;}
.left-right-both .left-column{width:100%;}
.left-right-both .right-column ul{width: 100%;text-align: center; margin: 0 auto; float: none;}
.left-right-both .right-column ul li{width:auto;}
.left-right-both .right-column {float: none; width: 100%;}
.feature-ctg-section ul li a{min-height: 135px;}
}

/*@media (max-width: 860px) and (min-width: 768px){
.block.newsletter{
	max-width: 243px;
    width: 100%;
    float: right;
    margin: 2px 0 0;
}

.footer-top .footer-logo{
	float: left;
	width: 30%;
}
.footer-top .copyright{
	float: left;
	width: 46%;
}
.block.newsletter .actions{
	display: block;
	margin:12px auto 0;
}
.footer-top-links ul li{
	padding-right: 35px;
}

}*/


.navigation{
	ul{
		.level1{
			position: static;
			.level1{
				&.submenu{
					display: none;
					position: absolute;
				    max-width: 100%;
    				margin: 0;
    				left: 0px;
    				right: 0px;
    				background: rgba(0, 0, 0, 0.5);
    				padding: 0px 10px;
    				top: 100%;

					li{
						display: block;
						width: 20%;
						padding: 10px;
						img{
							margin-bottom: 5px;
						}
					}
				}
			}
			&:hover{
				.level1{
					&.submenu{
						display: block; 
					}
				}
			}
		}
	}
	
}